.info {
  line-height: 2;
  text-align: left;
}

.wiki-link {
  color: #4285F4;
}

.sincerely {
  margin-bottom: 10px;
  text-align: right;
}

img{
  height: 150px;
  width: 40%;
  float: right;
}

.sincerely{
  text-align: center;
  display: inline-block;
}
