
.ap h1 {
  text-align: center;
}

.ap p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 2.5;
}

.letter-body,
.salutation {
  margin-bottom: 20px;
}

.sincerely {
  text-align: right;
}
