h1{
  padding-top: 3%;
}

.contact label {
  display: block;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  padding: 5px;
  width: 58%;
}

.contact textarea {
  padding: 10px;
}

.btn-blue {
  border: none;
  color: #FFF;
}
