*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body{
  background: url("../media/body-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: 'Adamina', serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #000;
}

nav{
  padding: 10px 30px; /*top & bottom 20px, left & right 30px*/
}

li{
  list-style: none;
}

.nav-icon {
  display: none;
}

.links {
  align-items: center; /*y-axis*/
  display: flex;
  justify-content: space-between; /*x-axis*/
}

.link a {
  color: #fff;
}

.link a:hover {
  text-decoration: underline;
}

.site-name {
  text-align: center;
  font-size: 55px;
}

.info {
  text-align: justify;
  margin-bottom: 25px;
  line-height: 1.5;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  border: 1px;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

/*p {
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}*/

.info-width{
  width: 50%;
  margin-left: 310px;
  text-align: center;
}


.close{
  color:black;
}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}
#new_message{
  width: 30%;
}
#email{
  width: 350%;
}
#body{
  width: 310%;
}

.messagepop {
  background-color:#FFFFFF;
  opacity: 0.4;
  border:1px solid #999999;
  border-radius: 5px;
  cursor:default;
  width:354px;
  z-index:50;
  padding: 25px 25px 20px;
  margin-left: 670px;
  margin-top: -480px;
}

label {
  width: 250%;
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 0px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (max-width: 960px) {
  nav {
    padding: 28px 30px;
  }

  .nav-icon {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
    cursor: pointer;
    display: block;
    height: 22px;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 25px;
  }

  .links {
    display: none;
    margin-top: 40px;
  }

  .link {
    border-bottom: 2px solid #fff;
    padding: 15px 10px;
  }

  .links.active {
    display: block;
  }
}
