#acknowledge>h1{
  margin-top: 110px;
  margin-left: 476px;
  font-size: 40px;
  font-family: 'Adamina', serif;
}
#aP>.aPOne{
  margin-left: 450px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.aPTwo{
  margin-left: 440px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.aPThree{
  margin-left: 465px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.aPFour{
  margin-left: 330px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.aPFive{
  margin-left: 550px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.aPSix{
  margin-left: 553px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
